[submodule "distel"]
	path = vendor/distel
	url = https://github.com/massemanet/distel.git
[submodule "flymake-node-jshint"]
	path = vendor/flymake-node-jshint
	url = https://github.com/jegbjerg/flymake-node-jshint.git
[Submodule "edts"]
	path = vendor/edts
	url = git://github.com/tjarvstrand/edts.git
[submodule "vendor/flymake-node-jshint"]
	path = vendor/flymake-node-jshint
	url = https://github.com/jegbjerg/flymake-node-jshint.git
[submodule "vendor/edts"]
	path = vendor/edts
	url = git://github.com/tjarvstrand/edts.git
[submodule "vendor/distel"]
	path = vendor/distel
	url = git://github.com/massemanet/distel.git
